html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;

}

body {
    background-color: rgb(30, 21, 42);
 img: src="https://cdn.idealo.com/folder/Product/202212/1/202212160/s1_produktbild_max_1/pergamon-strassenteppich-beidseitig-strassenlandschaften-100x165cm.jpg";
    background-image: url("https://cdn.idealo.com/folder/Product/202212/1/202212160/s1_produktbild_max_1/pergamon-strassenteppich-beidseitig-strassenlandschaften-100x165cm.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

span {
    background-color: rgb(175, 17, 249);
    width: 2px;
    height: 2px;
    position: fixed;

    transform: matrix(20, 0, 0, 20, 0, 0);
}
